body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2{
    color: darkgreen;
    border-bottom: 2px solid darkgreen;
    padding-bottom: 5px;
}

p, li {
     font-size: 18px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: green;
}

nav{
    background-color: darkblue;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}
   
nav a:hover {
    color: yellow;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: grey;
}

.card-container{
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
}

.card{
    width:250px;
    min-height:180px;
    background: whit;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px
rgba(0,0,0,0.2)
}

h1{
    text-align:center;
    margin: 30px 0;
    color:darkblue;

}

footer{
    width:100%;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.card:hover{
    transform: translater(-8px);
    transition:0.3s;
    box-shadow:0 8px 20px
rgba(0,0,0,0.3);
}

button{
    transition:0.3s;
}

button:hover{
    background:green;
    cursor:pointer;
}
